.navbar.navbar-default.navbar-static-top{
  border-bottom:none;
}

li.active > a{
  background-color:#fff !important;
}

#dlBtnCSV{
  text-align:center !important;
}
#dlBtnPlot{
  text-align:center !important;
}
.shiny-output-error, .htmlwidgets-error{
  display:none;
}
